/* copied shamelessy from: https://guides.github.com/features/mastering-markdown/ */

html, body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #444;
  background-color: #fff;
}

a {
  color: #4183c4;
  text-decoration: none;
}

canvas {
  border: 1px solid #ddd;
}

table {
  font-family: monospace;
  font-size: 12px;
}

table.data td {
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
}

ul.show-nav {
  padding: 0;
  margin: 20px 10px;
}
.show-nav li {
  display: inline-block;
  padding: 0;
  margin: 0 15px 0 0;
  list-style-type: none;
}

.show-nav li a {
  padding: 4px 12px 4px 10px;
  font-size: 16px;
  font-weight: bold;
}
.show-nav li a.selected {
  padding: 4px 12px 4px 10px;
  color: #fff;
  background: #4183C4;
  border-radius: 20px;
}

div#app-area {
  position: absolute;
  margin: 0;
  top: 20px;
  left: 0;
  width: 70%;
}

div.help {
  position: absolute;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  top: 20px;
  right: 5px;
  width: 27%;
}