/* copied shamelessy from: https://guides.github.com/features/mastering-markdown/ */

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #444;
  background-color: #fff;
}

a {
  color: #4183c4;
  text-decoration: none;
}

canvas {
  border: 1px solid #ddd;
}

table {
  font-family: monospace;
  font-size: 12px;
}

table.data td {
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
}

ul.show-nav {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 20px 10px;
}

.show-nav li {
  display: inline-block;
  padding: 0;
  margin: 0 15px 0 0;
  list-style-type: none;
}

#loader-div {
  display: inline-block;
  float: right;
  margin: 10px 10px;
}

.show-nav li a {
  padding: 4px 12px 4px 10px;
  font-size: 16px;
  font-weight: bold;
}

.show-nav li a.selected {
  padding: 4px 12px 4px 10px;
  color: #fff;
  background: #4183C4;
  border-radius: 20px;
}

div#app-area {
  float: left;
  margin-top: 20px;
  width: 70%;
}

label {
    font-size: 14px;
    color: #4183c4;
}

.error {
    font-size: 14px;
    color: #c44141;
}

.warning {
    font-size: 14px;
    color: #4183c4;
}

div.help {
  float: right;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  margin-top: 20px;
  width: 27%;
}

.overlay {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
}

.overlay-content {
    border-radius: 25px;
    border: 2px solid #eef;
    padding: 20px;
    height: 90%;
    width: 50%;
    z-index: 2;
    margin-top: 10%;
    margin-left: 25%;
    background-color: rgba(245,245,240,1);
}

.clear {
  clear: both;
}

/* Create an animated loader. Based on https://www.w3schools.com/howto/howto_css_loader.asp . */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}